/* Admin section skin colors */

#fics-admin-tab {
    background-color: rgb(191,223,255);
}
#selected-fics-tab {
    background-color: rgb(191,223,255);
}
#forums-admin-tab {
    background-color: rgb(191,223,255);
}
#selected-forums-tab {
    background-color: rgb(191,223,255);
}
#gallery-admin-tab {
    background-color: rgb(191,223,255);
}
#selected-gallery-tab {
    background-color: rgb(191,223,255);
}
#oekaki-admin-tab {
    background-color: rgb(191,223,255);
}
#selected-oekaki-tab {
    background-color: rgb(191,223,255);
}
#site-admin-tab {
    background-color: rgb(191,223,255);
}
#selected-site-tab {
    background-color: rgb(191,223,255);
}