.board-group {
    width: 100%;
    padding: 10px;
    border-spacing: 2px;
    margin-bottom: 5px;
    border-radius: 15px;
}
.board-group-title {
    font-weight: bold;
    font-size: 110%;
}
.board-row {
}
.board-row td {
    padding: 5px;
}
.status {
    width: 6%;
    text-align: center;
}
.thread-title {
    font-weight: bold;
}
.thread-subline {
    font-size: 90%;
}
.board-desc span {
    font-weight: bold;
}
.board-desc div {
    font-size: 90%;
}
.board-stats {
    width: 15%;
    font-size: 80%;
}
.board-stats ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.lastpost {
    width: 24%;
    font-size: 80%;
}
.lastpost ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.list-table tbody tr td:not(.lastpost) {
    font-size: 80%;
}
.list-table .status img {
    max-height: 30px;
}
.new-post-label {
    background-color: rgb(255,191,0);
    padding: 1px;
    border-radius: 5px;
    vertical-align: super;
    font-size: 80%;
}
