#gallery-search {
    margin-bottom: inherit;  /* To avoid float bugs in gallery index */
}

#toggle-mobile-container {
    display: none;  /* Overridden when javascript is enabled */
}
#toggle-mobile-layout {
    display: none;
}
@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
}
@media only handheld, screen and (max-width: 586px) {
    #toggle-mobile-layout {
        display: inherit;
    }
}
