.authortable {
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(170,200,255);
    width: 100%;
    border-style: none;
    overflow: hidden;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-collapse: collapse;
}
.authortable td {
    padding: 0px;
}
.authortable div {
    padding: 5px;
}
.authortable thead tr div {
    background-color: rgb(100,130,185);
}
.authortable tbody tr:nth-child(odd) div {
    background-color: rgb(150,180,235);
}
.authortable tbody tr:nth-child(even) div {
    background-color: rgb(130,160,215);
}

.mainpanel {
    padding: 5px;
    overflow: hidden;
}
#content h3 {
    margin: 5px;
}
