#feature-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.story-item {
    margin-bottom: 15px;
}
.story-item .ribbon {
    float: left;
}
.story-item .title {
}
.story-item .summary {
    font-size: 80%;
    padding: 5px;
}
.story-item .stars {
    display: inline-block;
    padding: 0px;
}
.story-item .rating {
    font-size: 80%;
}