/*@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .storyblock {
        float: left;
        width: 225px;
        max-width: 225px;
        height: 225px;
        max-height: 225px;
        box-shadow: 2px 2px 5px #07162D;
        border-radius: 5px;
        position: relative;
        font-size: 150%;
    }
    .storyblockcontainer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    .storyblockheader {
        order: 2;
        flex-shrink: 0;
    }
    .storyblockheader .title {
        font-size: 100%;
    }
    .storyblockheader .mininfo .stars {
        display: inline;
        margin: 0px;
        padding: 0px;
    }
    .storyblockheader > :not(.mininfo) {
        display: none;
    }
    .storyblockinfo {
        order: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        min-height: 0px;
        overflow: auto;
        position: relative;
    }
    .scroll_on_hover {
        position: relative;
        background-color: rgb(191,223,191);
    }
    .storyblockinfo ul {
        display: none;
    }
    .storyblockfooter {
        display: none;
    }
}*/