@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .storyblock {
        float: left;
        width: 175px;
        max-width: 175px;
        height: 175px;
        max-height: 175px;
        box-shadow: 2px 2px 5px #07162D;
        border-radius: 5px;
        position: relative;
        font-size: 100%;
    }
    .storyblockcontainer {
        width: 175px;
        max-width: 175px;
        height: 175px;
        max-height: 175px;
        display: table;
        table-layout: fixed;
    }
    .storyblockheader {
        display: table-footer-group;
    }
    .storyblockheader .title {
        font-size: 100%;
    }
    .storyblockheader .mininfo .stars {
        display: inline;
        margin: 0px;
        padding: 0px;
    }
    .storyblockheader > :not(.mininfo) {
        display: none;
    }
    .storyblockinfo {
        display: table-row;
    }
    .infoscrollcontainer {
        overflow: hidden;
        position: relative;
    }
    .storyblockinfocontainer {
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .scroll_on_hover {
        position: relative;
        background-color: rgb(191,223,191);
    }
    .storyblockinfocontainer ul {
        display: none;
    }
    .storyblockfooter {
        display: none;
    }
}