.ficsnav {
    list-style-type: none;
    margin: 5px 0px;
    padding: 0px;
    position: relative;
}
.ficsnav li {
    display: inline;
}
.ficsnav a {
    color: rgb(0,0,0);
    text-decoration: none;
    padding: 5px 15px;
    font-weight: bold;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(255,255,255);
}
.ficsnav a:hover {
    text-shadow: 0 0 3px rgb(0,0,255);
}
.ficsnav li:last-child {
    position: absolute;
    top: -3px;
    right: 0px;
}

/* Storyblock CSS */

.storyblock {
    margin: 5px;
    padding: 5px;
    background-color: rgb(63,127,255);
    display: block;
}
.storyblockcontainer {
    background-color: rgb(255,255,255);
}
/*header*/
.storyblockheader {
    padding: 5px;
    background-color: rgb(191,223,255);
}
.storyblockheader p {
    margin: 5px;
}
.storyblockheader .title {
    font-size: 150%;
}
.stars {
    padding: 5px;
}
.storyblockheader .mininfo .stars {
    display: none;
}
/*info*/
.storyblockinfo {
    padding: 5px;
    background-color: rgb(255,255,255);
}
.storyblockinfo p,ul,li {
    margin: 0px;
}
.storyblockinfo ul {
    list-style: none;
    padding: 0px;
}
.metalabel {
    font-weight: bold;
    margin-right: 5px;
}
.summary-box {
    max-height: 300px;
    overflow: auto;
}
.summary p:not(.metalabel) {
    margin-left: 15px;
}
/*footer*/
.storyblockfooter {
    padding: 5px;
    background-color: rgb(191,223,255);
}
.storyblockfooter form {
    display: inline;
}
.reviews {
    font-size: 75%;
}

.ctypetag {
    color: rgb(221,0,204);
}
.wtypetag {
    color: rgb(225,95,95);
}
.rtypetag {
    color: rgb(221,0,204);
}
.htypetag {
    color: rgb(0,170,188);
}
.gtypetag {
    color: rgb(0,0,102);
}
.stypetag {
    color: rgb(237,93,31);
}

.taglist {
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    list-style: none;
}
.taglist li {
    display: inline;
    text-decoration: none;
    margin: 5px;
}
.taglist a {
    text-decoration: none;
    font-weight: bold;
}
.taglist a:hover span {
    color: rgb(144,147,255);
}
.ribbon {
    float: left;
}