#fics-search {
    float: right;
    display: inline-block;
}
#fics-search input[type='text'].search {
    margin-right: 0px;
}
#search-help-link {
    font-size: 60%;
    vertical-align: super;
    padding: 0px;
    margin-right: 10px;
}

/* Storyblock CSS */
.storyblock {
    margin: 15px;
    padding: 5px;
    display: block;
    box-shadow: 2px 2px 5px #07162D;
}
.storyblockcontainer {
    background-color: white;
}
/*header*/
.storyblockheader {
    padding: 5px;
}
.storyblockheader div {
    margin: 5px;
}
.storyblockheader .title {
    font-size: 150%;
}
.storyblockheader .author-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}
.storyblockheader .author-list li {
    display: inline;
}
.storyblockheader .author-list .author {
}
.storyblockheader .author-list .coauthor {
    font-style: italic;
    font-size: 80%;
}
.stars {
    padding: 5px;
}
.storyblockheader .mininfo .stars {
    display: none;
}
/*info*/
.storyblockinfo {
    padding: 5px;
    background-color: white;
}
.storyblockinfo ul {
    list-style: none;
    padding: 0px;
}
.storyblockinfo .summary p {
    margin: 0px;
}
.meta-list {
    margin: 0px;
}
.metalabel {
    font-weight: bold;
}
.summary-box {
    max-height: 300px;
    overflow: auto;
}
.summary p:not(.metalabel) {
    margin-left: 15px;
}
/*footer*/
.storyblockfooter {
    padding: 5px;
}
.storyblockfooter form {
    display: inline;
}
.reviews {
    font-size: 75%;
}

/*category*/
.atypetag {
    color: rgb(221,0,204);
}
/*series*/
.btypetag {
    color: rgb(0,221,63);
}
/*character*/
.ctypetag {
    color: rgb(0,170,188);
}
/*species*/
.dtypetag {
    color: rgb(237,93,31);
}
/*general*/
.mtypetag {
    color: rgb(0,0,102);
}
/*warning*/
.ztypetag {
    color: rgb(221,0,0);
}

.taglist {
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    list-style: none;
}
.taglist li {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
.taglist a {
    text-decoration: none;
    font-weight: bold;
}
.tag a:hover {
    color: rgb(63,127,255)
}
.ribbon {
    float: left;
}
