.tagtable {
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(170,200,255);
    width: 100%;
    border-style: none;
    overflow: hidden;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-collapse: collapse;
}
.tagtable td {
    padding: 0px;
}
.tagtable div {
    padding: 5px;
}
.tagtable thead tr div {
    background-color: rgb(100,130,185);
}
.tagtable tbody tr:nth-child(odd) div {
    background-color: rgb(150,180,235);
}
.tagtable tbody tr:nth-child(even) div {
    background-color: rgb(130,160,215);
}

.mainpanel {
    margin: 5px;
    overflow: hidden;
}
#actionbar {
    margin: 5px;
}
#newpanel {
    padding: 5px;
    display: block;
}
.floatactionpanel {
    position: absolute;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(63, 127, 255);
    box-shadow: 5px 5px 8px #07162D;
}
#content h3 {
    margin: 5px;
}
.actionset {
    font-size: 0px;
}
.tagtable input {
}
.tagname {
    font-weight: bold;
    text-decoration: none;
}
.tagname:hover {
    color: rgb(144,147,255);
}