#content h3 {
    text-align: center;
}
#prev {
    float: left;
}
#next {
    float: right;
}
.chaptercontent {
    margin-left: 30px;
    margin-right: 30px;
}
.chapter-iterator {
    margin: 10px;
}