#main-content h3 {
    text-align: center;
}
#prev {
    float: left;
}
#next {
    float: right;
}
.chaptercontent {
    margin-left: 30px;
    margin-right: 30px;
}
.chapter-iterator {
    margin: 10px;
}
@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .chaptercontent {
        margin-left: 10px;
        margin-right: 10px;
    }
}