.storynotes {
    background-color: rgb(191,223,255);
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
.storynotes p {
    margin: 0px;
}
.chaptertitle {
    margin-bottom: 0px;
}
.chapternotes {
    margin-top: 0px;
}