.notesbox {
    background-color: rgb(191,223,255);
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
.chapterlisttitle {
    margin-bottom: 0px;
}
.chapterlistnotes {
    margin-top: 0px;
}