.notesbox {
    background-color: rgb(191,223,255);
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
.chapterlisttitle {
    margin-bottom: 0px;
}
.chapterlistnotes {
    margin-top: 0px;
}
.comments ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.comments ul.tabs {
    margin: 0px 5px;
}
.comments ul.tabs li{
    background-color: rgb(223,239,255);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.comments ul.tabs li.current{
    background-color: rgb(191,223,255);
    border: 1px solid black;
    border-bottom-color: rgba(0,0,0,0);
}
.comments .tab-content{
    display: none;
    background-color: rgb(191,223,255);
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    margin-top: -1px;
}
.comments .tab-content.current{
    display: inherit;
}

.comments .tab-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.comments .tab-content ul li {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
    background-color: white;
}
.commentheader {
    margin: 5px;
    margin-top: 0px;
    margin-left: 105px;
    padding: 5px;
    background-color: rgb(191,223,255);
}
.commentheader span {
    font-size: 75%;
}
.commenttext {
    margin: 5px;
    margin-left: 105px;
    padding: 5px;
}
.commentresponse {
    margin: 5px;
    margin-left: 105px;
    padding: 5px;
    font-style: italic;
}
.avatarimg {
    width: 100px;
    height: 100px;
    float: left;
}

#commentform {
    display: none;
}
#reviewform {
    display: none;
}
#responseform {
    display: none;
}
#responseformblock {
    display: inline-block;
    width: 100%;
}