.comment-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.comment {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
    background-color: white;
}

.commentheader {
    margin: 5px;
    margin-top: 0px;
    margin-left: 105px;
    padding: 5px;
    background-color: rgb(191,223,255);
}
.commentheader span {
    font-size: 75%;
}
.commenttext {
    margin: 5px;
    margin-left: 105px;
    padding: 5px;
}

.comment-avatarimg {
    width: 100px;
    height: 100px;
    float: left;
}
.no-comments {
    display: block;
    text-align: center;
    padding: 5px;
}
.edit-comment-form {
    float: right;
    display: block;
    margin: 5px;
}
blockquote {
    display: inline-block;
    background-color: rgb(191,223,255);
    background-image: url(/images/lquote.png),url(/images/rquote.png);
    background-repeat: no-repeat;
    background-position: left top, right top;
    padding: 15px;
    border-radius: 15px;
}
.spoiler {
    color: black;
    background-color: black;
}
.spoiler:hover {
    color: inherit;
    background-color: inherit;
    border: 1px dotted black;
    cursor: pointer;
}