h4 {
    text-align: center;
}

.loginbox {
    margin: 10px auto;
    padding: 15px;
    width: 320px;
    background-color: rgb(223,223,255);
    text-align: center;
}

.loginbox div {
    margin: 10px auto;
    display: inline-block;
    text-align: left;
}

.loginbox .label {
    text-align: right;
}
.loginbox .forgot {
    font-size: 75%;
}

.error {
    color: rgb(255,0,0);
}