#actionbar {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#action-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.list-search-bar {
    float: right;
}
.floatactionpanel {
    position: absolute;
    border: 1px solid black;
    box-shadow: 5px 5px 8px #07162D;
    padding: 5px;
}