#actionbar {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#action-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#pool-search {
    display: inline;
}
#pool-search input {
    float: right;
    margin: 0px;
    margin-top: -4px;
}
#newpanel {
    padding: 5px;
    display: inline-block;
}
.floatactionpanel {
    position: absolute;
    border: 1px solid black;
    box-shadow: 5px 5px 8px #07162D;
}