.post-list {
    padding: 0px;
    display: inline;
}
.post-list li {
    vertical-align: top;
    padding: 0px;
    width: 180px;
    height: 205px;
    display: inline-block;
}

/* Post tile styles */
.post-tile {
    width: 175px;
    height: 200px;
    color: rgb(0,0,127);
}
a.postlink {
    text-decoration: none;
}
.post-preview-img {
    max-width: 156px;
    max-height: 156px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #07162D;
}
.post-label {
    display: block;
    margin: 5px;
    background-color: rgb(159,182,211);
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px #07162D;
    padding-bottom: 3px;
}
.post-label span {
    font-size: 75%;
    font-weight: bold;
    margin: 0px 2px;
}
a:hover .post-preview-img {
    box-shadow: 5px 5px 8px #07162D;
}
a:hover div.post-label {
    box-shadow: 5px 5px 8px #07162D;
}

/* Post tile outlines */
.childoutline {
    border: 3px solid rgb(255,255,0);
}
.parentoutline {
    border: 3px solid rgb(0,255,0);
}
.pendingoutline {
    border: 3px solid rgb(0,0,255);
}
.flaggedoutline {
    border: 3px solid rgb(255,0,0);
}
.toggle-mobile-layout {
    display: none;
}

@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .mainpanel {
        text-align: center;
    }
}
@media only handheld, screen and (max-width: 402px) {
    .toggle-mobile-layout {
        display: inherit;
    }
}
