.sidepanel {
    margin: 5px;
    float: left;
    min-width: 240px;
}
.sidepanel h3 {
    margin-bottom: 0px;
}

.mainpanel {
    margin: 5px;
    overflow: hidden;
}

.Clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.parentbox {
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(85,153,85);
    padding: 5px;
    box-shadow: 2px 2px 5px #07162D;
}

.parentbox p {
    margin: 0px;
}

.tagbox {

}

.taglist {
    margin: 0px;
    padding: 0px;
}

.tagcategory {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}

.tag {
    margin-left: 10px;
    display: block;
}

.statbox {

}

.statlist {
    margin: 0px;
    padding: 0px;
}

.statlist li {
    margin-left: 10px;
    display: block;
}

.previewImg {
    max-width: 100%;
}

.postsquare {
    width: 175px;
    height: 200px;
    float: left;
    margin: 10px;
    border-radius: 5px;
}

.postsquarepreview {
    max-width: 156px;
    max-height: 156px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
img.postsquarepreview {
    box-shadow: 2px 2px 5px #07162D;
}
a:hover div.postsquarepreview img {
    box-shadow: 5px 5px 8px #07162D;
}
a:hover div.postlabel {
    box-shadow: 5px 5px 8px #07162D;
}

.postlabel {
    display: block;
    margin: 5px;
    background-color: rgb(159,182,211);
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px #07162D;
}

.postlabel span {
    font-size: 75%;
}

.srating {
    color: rgb(22,118,33);
    font-weight: bold;
}
.qrating {
    color: rgb(228,225,80);
    font-weight: bold;
}
.erating {
    color: rgb(225,95,95);
    font-weight: bold;
}
.childoutline {
    border: 3px solid rgb(255,255,0);
}
.parentoutline {
    border: 3px solid rgb(0,255,0);
}
.pendingoutline {
    border: 3px solid rgb(0,0,255);
}
.flaggedoutline {
    border: 3px solid rgb(255,0,0);
}

.indexIterator {
    margin:5px;
    padding: 5px;
    display:block;
    text-align:center;
    font-weight: none;
    text-decoration: none;
}

.indexIterator a {
    border-radius: 5px;
    border: 1px solid rgb(127,127,127);
    box-shadow: 2px 2px 5px #07162D;
    padding: 3px 8px;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(0,255,0);
}
.indexIterator a:hover {
    border-radius: 5px;
    border: 1px solid rgb(127,127,127);
    padding: 3px 8px;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(127,255,127);
}
.indexIterator .currentpage {
    border-radius: 5px;
    padding: 3px 8px;
    margin: 5px;
    text-decoration: none;
}

