#tag-help-toc {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.tag-help-block {
    list-style: none;
    padding: 0px;
    display: block;
    border-radius: 10px;
    margin: 10px;
}
.tag-help-block h4,.tag-help-block li {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.tag-help-block li div {
    margin-left: 30px;
}