.tagtable {
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(170,200,255);
    display: inline;
    width: 100%;
    border-style: none;
    overflow: hidden;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}
.tagtable td {
    padding: 5px;
}
.tagtable tr:nth-child(even) {
    background-color: rgb(150,180,235);
}
.tagtable tr:nth-child(odd) {
    background-color: rgb(130,160,215);
}
.tagtable tr:nth-child(1) {
    background-color: rgb(130,160,215);
    border-color: rgb(170, 200, 255);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}
.mainpanel {
    margin: 5px;
    overflow: hidden;
}
#actionbar {
    margin: 5px;
}
#newpanel {
    padding: 5px;
    display: block;
}
.floatactionpanel {
    position: absolute;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(63, 127, 255);
    box-shadow: 5px 5px 8px #07162D;
}
#content h3 {
    margin: 5px;
}
.actionset {
    font-size: 0px;
}
.tagtable input {
}
.tagname {
    font-weight: bold;
    text-decoration: none;
}
.tagname:hover {
    color: rgb(144,147,255);
}