#parent {
    width: 100px;
}

.previewImg {
    max-width: 100%;
}

.uploadpanel {
    display: inline;
    float: left;
}
.uploadpanel td {
    vertical-align: top;
}
.uploadpanel input {
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
.uploadpanel textarea {
    height: 75px;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
.textbox {
    width: 100%;
    max-width: 100%;
}

.previewpanel {
    display: inline;
    float: left;
    width: 100%;
}

.previewpanel img {
    max-width: 100%;
}
.formlabel {
    vertical-align: top;
    width: 100px;
    display: inline-block;
}

@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .previewpanel {
        display: none;
    }
}
