@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    #content {
        display: table;
        table-layout:fixed;
        overflow: hidden;
        width: 100%;
    }
    .sidepanel {
        display: table-footer-group;
    }
    .mainpanel {
        display: block;
    }
}

.formlabel {
    vertical-align: top;
    width: 100px;
    display: inline-block;
}

.textbox {
    width: 400px;
}

input {
    margin: 5px;
}

textarea {
    margin: 5px;
    height: 150px;
}

#desc {
    height: 75px;
}

#parent {
    width: 100px;
}

.posteditbox {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(170,200,255);
    float: left;
    display: none;
}
