# Set up Apache.
RewriteEngine On
AddDefaultCharset utf-8
RewriteOptions inherit

# Set up PHP.
php_value upload_max_filesize 50M
php_value post_max_size 150M

# Needed so that we can name URL's with the same filename as php files (e.g. /gallery/upload/)
Options -MultiViews
# Don't display the index of files.
IndexIgnore *
Options -Indexes
# Set up error pages.
#ErrorDocument 403 /403.php (This isn't working yet)
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
# Don't allow .php or .tpl links.
RewriteCond %{THE_REQUEST} /.+?\.php[\s?] [NC]
RewriteRule ^ - [F]
RewriteCond %{THE_REQUEST} /.+?\.tpl[\s?] [NC]
RewriteRule ^ - [F]
# Redirect subdomains.
RewriteCond %{HTTP_HOST} ^forums.agn.ph.*$ [NC]
RewriteRule ^ http://agn.ph/forums/ [R=302,L]
RewriteCond %{HTTP_HOST} ^gallery.agn.ph.*$ [NC]
RewriteRule ^ http://agn.ph/gallery/post/ [R=302,L]
RewriteCond %{HTTP_HOST} ^fics.agn.ph.*$ [NC]
RewriteRule ^ http://agn.ph/fics/ [R=302,L]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=302,L]

# Rewrites for Sitewide pages
RewriteRule ^login/?$ /login.php
RewriteRule ^logout/?$ /logout.php
RewriteRule ^register/captcha/?$ /user/captcha/captcha.php
RewriteRule ^register/?$ /user/register/register_input.php
RewriteRule ^register/confirm/?$ /user/register/register_confirm.php
RewriteRule ^register/success/?$ /user/register/register_success.php
RewriteRule ^auth/?$ /auth_code.php [QSA]
RewriteRule ^recover/?$ /user/recover/recover_account_input.php
RewriteRule ^recover/confirm/?$ /user/recover/recover_account_confirm.php
RewriteRule ^recover/success/?$ /user/recover/recover_account_success.php
RewriteRule ^timezone/?$ /timezone_ajax.php
RewriteRule ^confirm_age/?$ /header.php
RewriteRule ^change-skin/?$ /skin_switch.php
#RewriteRule ^setup/?$ /setup/sql_setup.php
RewriteRule ^rotation/example/?$ /ad_rotation.php
RewriteRule ^rotation/image/?$ /ad_rotation.php?image
RewriteRule ^rotation/link/?$ /ad_rotation.php?link
RewriteRule ^irc/status/update/?$ /irc_mirror.php
RewriteRule ^irc/status/?$ /irc_mirror.php

# Rewrites for forums pages
RewriteRule ^forums/?$ /forums/view_board.php?board=-1
RewriteRule ^forums/board/?$ /forums/view_board.php?board=-1
RewriteRule ^forums/board/(\d+)/?$ /forums/view_board.php?board=$1&sort=lastpost&order=desc [QSA]
RewriteRule ^forums/board/([^0-9][^/]*)/?$ /forums/view_board.php?boardname=$1&sort=lastpost&order=desc [QSA,B,NE]
RewriteRule ^forums/thread/(\d+)/?$ /forums/view_thread.php?thread=$1 [QSA]
RewriteRule ^forums/compose/?$ /forums/compose.php [QSA]
RewriteRule ^forums/mark-all-read/?$ /forums/mark_all_read.php [QSA]

# Rewrites for accounts section
RewriteRule ^user/(\d+)/?$ /user/profile.php?uid=$1
RewriteRule ^user/(\d+)/forums/?$ /forums/user.php?uid=$1
RewriteRule ^user/(\d+)/gallery/?$ /gallery/user.php?uid=$1
RewriteRule ^user/(\d+)/fics/?$ /fics/user.php?uid=$1
RewriteRule ^user/(\d+)/oekaki/?$ /oekaki/site/user.php?uid=$1
RewriteRule ^user/(\d+)/preferences/?$ /user/preferences.php?uid=$1
RewriteRule ^user/(\d+)/preferences/bio/save/?$ /user/save_bio_ajax.php?uid=$1
RewriteRule ^user/(\d+)/mail/?$ /user/mail/mail.php?uid=$1 [QSA]
RewriteRule ^user/(\d+)/mail/unread/?$ /user/mail/mail.php?uid=$1&unread=1 [QSA]
RewriteRule ^user/(\d+)/mail/message/(\d+)/?$ /user/mail/view_message.php?uid=$1&mid=$2
RewriteRule ^user/(\d+)/mail/compose/?$ /user/mail/compose_message.php?uid=$1 [QSA]
RewriteRule ^user/(\d+)/mail/compose/all/?$ /user/mail/compose_message.php?uid=$1&to=__all_users__ [QSA]
RewriteRule ^user/(\d+)/mail/send/?$ /user/mail/mail_action.php?uid=$1&action=send
RewriteRule ^user/auth/change/?$ /user/recover/recover_account_success.php
RewriteRule ^user/(\d+)/admin/?$ /user/change_admin.php?uid=$1
RewriteRule ^user/(\d+)/ban/?$ /user/change_ban_status.php?uid=$1

# Rewrites for gallery pages
RewriteRule ^gallery/post/?$ /gallery/posts/postindex.php [QSA]
RewriteRule ^gallery/post/slideshow/fetch/?$ /gallery/posts/postindex_ajax.php [QSA]
RewriteRule ^gallery/post/show/(\d+)/?$ /gallery/posts/viewpost.php?post=$1 [QSA]
RewriteRule ^gallery/post/random/?$ /gallery/posts/random_post.php
RewriteRule ^gallery/upload/?$ /gallery/upload.php
RewriteRule ^gallery/edit/?$ /gallery/posts/editpost.php
RewriteRule ^gallery/pools/?$ /gallery/pools/poolindex.php?sort=name&order=asc [QSA]
RewriteRule ^gallery/pools/reorder/(\d+)/?$ /gallery/pools/reorder_pool_ajax.php?pid=$1
RewriteRule ^gallery/poolsearch/$ /gallery/pools/pool_ajax.php [QSA]
RewriteRule ^gallery/pools/modify/(\d+)/(\d+)/?$ /gallery/pools/addremove_pool_ajax.php?post=$1&pool=$2
RewriteRule ^gallery/pools/create/?$ /gallery/pools/create.php
RewriteRule ^gallery/pools/delete/?$ /gallery/pools/delete.php
RewriteRule ^gallery/post/status/?$ /gallery/posts/changestatus.php
RewriteRule ^gallery/post/show/(\d+)/history/?$ /gallery/posts/tag_history.php?post=$1 [QSA]
RewriteRule ^gallery/tags/?$ /gallery/tags/tags.php?sort=name&order=asc [QSA]
RewriteRule ^gallery/post/view-script/ /gallery/posts/viewpost-script.php [QSA]
RewriteRule ^gallery/tagsearch/?$ /gallery/tag_ajax.php [QSA]
RewriteRule ^gallery/set-mobile/?$ /gallery/toggle_mobile_ajax.php
RewriteRule ^gallery/help/?$ /gallery/tag_help.php

#Rewrites for fics pages
RewriteRule ^fics/?$ /fics/index.php
RewriteRule ^fics/browse/?$ /fics/storyindex.php [QSA]
RewriteRule ^fics/story/(\d+)/?$ /fics/story/story.php?sid=$1 [QSA]
RewriteRule ^fics/story/(\d+)/(\d+)/?$ /fics/story/chapter.php?sid=$1&chapter=$2 [QSA]
RewriteRule ^fics/create/?$ /fics/edit_story.php?action=create
RewriteRule ^fics/edit/(\d+)/?$ /fics/edit_story.php?action=edit&sid=$1
RewriteRule ^fics/create/(\d+)/(\d+)/?$ /fics/edit_chapter.php?action=create&sid=$1&chapternum=$2
RewriteRule ^fics/edit/(\d+)/(\d+)/?$ /fics/edit_chapter.php?action=edit&sid=$1&chapternum=$2
RewriteRule ^fics/story/chapter/order/?$ /fics/reorder_chapter_ajax.php
RewriteRule ^fics/tags/?$ /fics/tags.php?sort=name&order=asc [QSA]
RewriteRule ^fics/authors/?$ /fics/authorindex.php?sort=name&order=asc [QSA]
RewriteRule ^fics/delete/(\d+)/?$ /fics/delete_story.php?sid=$1&action=delete&type=story
RewriteRule ^fics/delete/(\d+)/(\d+)/?$ /fics/delete_story.php?sid=$1&action=delete&type=chapter&index=$2
RewriteRule ^fics/undelete/(\d+)/?$ /fics/delete_story.php?sid=$1&action=undelete&type=story
RewriteRule ^fics/favorite/?$ /fics/edit_favorites.php
RewriteRule ^fics/tagsearch/?$ /fics/tag_ajax.php [QSA]
RewriteRule ^fics/help/?$ /fics/tag_help.php
RewriteRule ^fics/rss.xml$ /fics/rss.php

#Rewrites for oekaki pages
RewriteRule ^oekaki/?$ /oekaki/site/browse.php [QSA]
RewriteRule ^oekaki/comment/?$ /oekaki/site/browse.php
RewriteRule ^oekaki/post/?$ /oekaki/site/post.php
RewriteRule ^oekaki/post2/?$ /oekaki/site/post2.php
RewriteRule ^oekaki/image/(.*)$ /oekaki/site/data/$1
RewriteRule ^oekaki/old/draw/?$ /oekaki/app/index.php
RewriteRule ^oekaki/animation/(\d+)/?$ /oekaki/app/index.php?animation=$1 [QSA]
RewriteRule ^oekaki/slots/list/?$ /oekaki/site/slots.php?list
RewriteRule ^oekaki/slots/(\d+)/?$ /oekaki/site/slots.php?metadata=$1
RewriteRule ^oekaki/slots/(\d+)/save/?$ /oekaki/site/slots.php?save=$1
RewriteRule ^oekaki/thumb/(\d+).png?$ /oekaki/site/getThumb.php?slot=$1
RewriteRule ^oekaki/streams/?$ /oekaki/site/streams.php
RewriteRule ^oekaki/getstreams/?$ /oekaki/site/getStreams.php

#Rewrites for user pages.
RewriteRule ^user/list/?$ /user/list.php?sort=status&order=desc [QSA]
RewriteRule ^user/search/?$ /user/find_user_ajax.php [QSA]
RewriteRule ^user/account/link/?$ /user/account_link.php [QSA]
RewriteRule ^user/import/?$ /imported_user.php

#Rewrites for about pages.
RewriteRule ^about/?$ /about/index.php?q=about
RewriteRule ^about/rules/?$ /about/index.php?q=rules
RewriteRule ^about/staff/?$ /about/index.php?q=staff
RewriteRule ^about/gallery/?$ /about/index.php?q=gallery
RewriteRule ^about/irc/?$ /about/index.php?q=irc
RewriteRule ^about/minecraft/?$ /about/index.php?q=minecraft
RewriteRule ^about/oekaki/?$ /about/index.php?q=oekaki
RewriteRule ^about/account/?$ /about/index.php?q=account
RewriteRule ^about/privacy/?$ /about/index.php?q=privacy

#Rewrites for admin pages
RewriteRule ^admin/?$ /admin/site/site.php
RewriteRule ^admin/stats/?$ /admin/site/stats.php [QSA]
RewriteRule ^admin/log/?$ /admin/site/log.php?filter=site [QSA]
RewriteRule ^admin/forums/?$ /admin/forums/forums.php
RewriteRule ^admin/forums/log/?$ /admin/site/log.php?filter=forums [QSA]
RewriteRule ^admin/gallery/?$ /admin/gallery/gallery.php
RewriteRule ^admin/gallery/tags/?$ /admin/gallery/tag_management.php
RewriteRule ^admin/gallery/fetch_tag/?$ /admin/gallery/fetch_tag_ajax.php [QSA]
RewriteRule ^admin/gallery/save_tag/?$ /admin/gallery/save_tag_ajax.php [QSA]
RewriteRule ^admin/gallery/update_tag_counts/?$ /admin/gallery/update_tag_counts_ajax.php
RewriteRule ^admin/gallery/edit-history/?$ /admin/gallery/edit_history.php
RewriteRule ^admin/gallery/revert-edit/?$ /admin/gallery/revert_edit.php
RewriteRule ^admin/gallery/description-history/?$ /admin/gallery/description_history.php
RewriteRule ^admin/gallery/log/?$ /admin/site/log.php?filter=gallery [QSA]
RewriteRule ^admin/fics/?$ /admin/fics/fics.php
RewriteRule ^admin/fics/tags/?$ /admin/fics/tag_management.php
RewriteRule ^admin/fics/fetch_tag/?$ /admin/fics/fetch_tag_ajax.php [QSA]
RewriteRule ^admin/fics/save_tag/?$ /admin/fics/save_tag_ajax.php [QSA]
RewriteRule ^admin/fics/update_tag_counts/?$ /admin/fics/update_tag_counts_ajax.php
RewriteRule ^admin/fics/log/?$ /admin/site/log.php?filter=fics [QSA]
RewriteRule ^admin/oekaki/?$ /admin/oekaki/oekaki.php
RewriteRule ^admin/oekaki/log/?$ /admin/site/log.php?filter=oekaki [QSA]
RewriteRule ^admin/register/resend/?$ /user/register/resend_register_email.php [QSA]

# Set up caching
<IfModule mod_headers.c>
    Header set Connection keep-alive
    # Cache-control headers
    # 1 DAY
    <filesMatch "\.(jpg|png|gif|swf|webm)$">
        Header set Cache-Control "max-age=86400, public"
    </filesMatch>
    # 5 MINUTES
    <filesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=300, public"
    </filesMatch>
</IfModule>