# Rewrites for the whole site. Will split into separate files later.

# Needed so that we can name URL's with the same filename as php files (e.g. /gallery/upload/)
Options -MultiViews

# TODO: Add [QSA] to rewrites so that sorting/ordering can be passed via parameters for lists of things.

# Rewrites for /forums/thread/
RewriteRule ^forums/thread/(\d+)/?$ /forums/thread/viewthread.php?t=$1
RewriteRule ^forums/thread/(\d+)/(\d+)/?$ /forums/thread/viewthread.php?t=$1&offset=$2

# Rewrites for /forums/board/
RewriteRule ^forums/board/(\d+)/?$ /forums/viewboard.php?b=$1
RewriteRule ^forums/board/(\d+)/(\d+)/?$ /forums/viewboard.php?b=$1&offset=$2
RewriteRule ^forums/?$ /forums/viewboard.php

# Rewrites for create, reply, edit and delete
RewriteRule ^forums/create/(\d+)/?$ /forums/compose.php?action=create&board=$1
RewriteRule ^forums/reply/(\d+)/?$ /forums/compose.php?action=reply&thread=$1
RewriteRule ^forums/edit/(\d+)/?$ /forums/compose.php?action=edit&post=$1
RewriteRule ^forums/delete/(\d+)/?$ /forums/delete.php?post=$1

# Rewrites for marking posts as read
RewriteRule ^forums/markallread/(\d+)/?$ /forums/mark_all_read.php?b=$1

# Rewrites for accounts section
RewriteRule ^user/(\d+)/?$ /user/profile.php?uid=$1

# Rewrites for raw gallery pages
RewriteRule ^gallery/post/?$ /gallery/posts/postindex.php [QSA]
RewriteRule ^gallery/post/show/(\d+)/?$ /gallery/posts/viewpost.php?post=$1
RewriteRule ^gallery/upload/?$ /gallery/upload.php
