.message-table {
    border-radius: 15px;
    background-color: rgb(170,200,255);
    width: 100%;
    border-style: none;
    overflow: hidden;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-collapse: collapse;
}
.message-table td {
    padding: 0px;
}
.message-table div {
    padding: 5px;
}
.message-table thead tr div {
    background-color: rgb(100,130,185);
    border-left: 1px solid black;
}
.message-table thead tr td:nth-child(1) div {
    border: none;
}

.message-table tbody tr:nth-child(odd) div {
    background-color: rgb(150,180,235);
}
.message-table tbody tr:nth-child(even) div {
    background-color: rgb(130,160,215);
}
.message-table tbody tr td:nth-child(1) div {
    text-align: center;
}
.no-messages td div {
    text-align: center;
    padding: 15px;
}
.unread {
    font-weight: bold;
}

.compose-error {
    display: none;
    color: red;
}
.compose-form {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.compose-form li {
    margin: 5px;
}
.compose-form label {
    display: inline-block;
    width: 80px;
}

/* For autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
