.unread {
    font-weight: bold;
}

.compose-error {
    display: none;
    color: red;
}
.compose-form {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.compose-form li {
    margin: 5px;
}
.compose-form label {
    display: inline-block;
    width: 80px;
}
.mail-icon {
    max-height: 16px;
}
.action-bar {
    float: right;
    margin: 5px;
}

.tab-link {
    font-size: 1.2em;
    font-weight: bold;
}

/* Pulled from Fics section! */
.comments ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.comments ul.tabs {
    margin: 0px 5px;
}
.comments ul.tabs li{
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.comments ul.tabs li.current{
    border: 1px solid black;
    border-bottom-color: rgba(0,0,0,0);
}
.comments .tab-content{
    display: none;
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
    margin-top: -1px;
}
.comments .tab-content.current{
    display: inherit;
}

@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .action-bar {
        float: left;
    }
}