.userpage {
    display: table;
    height: 100%;
    width: 100%;
}

.userpage-container {
    display: table-row;
}

.profile-sidepanel {
    vertical-align: top;
    text-align: center;
    display: table-cell;
    background-color: rgb(233,233,233);
    width: 160px;
}

.sidepanel-section {
    background-color: rgb(233,195,195);
    margin: 5px;
}

.sidepanel-section ul {
    list-style: none;
    padding: 0px;
    font-size: 75%;
}

.avatarimg {
    max-width: 150px;
    max-height: 150px;
}

.profile-content {
    vertical-align: top;
    display: table-cell;
    background-color: rgb(195,233,195);
    padding: 5px;
}

.infoblock {
    background-color: rgb(195,195,223);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

ul#basic-info {
    list-style: none;
    padding: 0px;
}
ul#basic-info li {
    margin: 5px;
}

.basic-info-label {
    display: inline-block;
    min-width: 150px;
}

.edit-info-button {

}

#edit-bio-container {
    display: none;
}

.twiddle {
    float: left;
    cursor: pointer;
    display: block;
    width: 20px;
    text-align: center;
}
.infoblock textarea {
    width: 400px;
    height: 100px;
}
