.userpage {
    display: table;
    height: 100%;
    width: 100%;
}

.userpage-container {
    display: table-row;
}

.profile-sidepanel {
    vertical-align: top;
    text-align: center;
    display: table-cell;
    background-color: rgb(233,233,233);
    width: 160px;
}

.sidepanel-section {
    background-color: rgb(233,195,195);
    margin: 5px;
}

.sidepanel-section h4 {
    margin: 0px;
}

.sidepanel-section ul {
    list-style: none;
    padding: 0px;
    font-size: 75%;
}

.profile-avatarimg {
    max-width: 150px;
    max-height: 150px;
}

.profile-content {
    vertical-align: top;
    display: table-cell;
    background-color: rgb(195,233,195);
    padding: 5px;
}

.infoblock {
    background-color: rgb(195,195,223);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.expand-click {
    padding-top: 5px;
    cursor: pointer;
}

ul#basic-info {
    list-style: none;
    padding: 0px;
}
ul#basic-info li {
    margin: 5px;
}

.basic-info-label {
    display: inline-block;
    min-width: 150px;
}

.edit-info-button {

}

#edit-bio-container {
    display: none;
}

.twiddle {
    float: left;
    display: block;
    width: 20px;
    text-align: center;
}
.infoblock textarea {
    width: 400px;
    height: 100px;
}
.unread-messages {
    font-weight: bold;
    color: rgb(255,95,0);
}
.admin-badges {
    list-style: none;
    padding: 0px;
    display: block;
}
.admin-badges > li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
img.badge {
}
span.badge {
    display: inline-block;
    margin-bottom: 3px;
}

@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .userpage {
        display: block;
    }
    .userpage-container {
        display: block;
    }
    .profile-sidepanel {
        display: block;
        float: right;
    }
    .profile-content {
        display: block;
    }
    .profile-avatarimg {
        max-width: 100px;
        max-height: 100px;
    }
}