.list-table tr td:nth-child(1) {
    min-width: 80px;
    width: 80px;
}

.user-avatar {
    max-width: 27px;
    max-height: 16px;
    margin: 0px;
    vertical-align: middle;
}
.status-container {
}
.status-alignment {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.status-icon {
    margin-right: 5px;
    vertical-align: middle;
    height: 10px;
}

#content h3 {
    margin: 5px;
}
.actionset {
    font-size: 0px;
}
