.list-table tr td:first-child {
    min-width: 80px;
    width: 80px;
}

.user-avatar {
    max-width: 27px;
    max-height: 16px;
    margin: 0px;
    vertical-align: middle;
}
.status-container {
}
.status-alignment {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.status-icon {
    margin-right: 5px;
    vertical-align: middle;
    height: 10px;
}

#content h3 {
    margin: 5px;
}
.actionset {
    font-size: 0px;
}

/* Only show small size on *really* small width screens */
@media only handheld, screen and (max-device-width: 450px), screen and (max-width: 450px) {
    .list-table tr td:first-child {
        min-width: 65px;
        width: 65px;
    }
    .list-table {
        font-size: 80%;
    }
}