.userpage {
}
.userpage-container {
}

.profile-sidepanel {
    float: right;
    padding: 5px;
    border: 1px solid rgb(96,102,106);
    background-color: rgb(239,239,239);
    margin: 15px;
    text-align: center;
}
.sidepanel-section {
}
.sidepanel-section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sidepanel-section ul li {
    margin: 0px;
    padding: 0px;
}
.profile-avatarimg {
    max-width: 150px;
    max-height: 150px;
}
.status-icon {
}

.profile-content {
    overflow: hidden;  /* Limit clear scoping */
}
.admin-badges {
    list-style: none;
    padding: 0px;
    display: block;
}
.admin-badges > li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
img.badge {
}
span.badge {
    display: inline-block;
    margin-bottom: 3px;
}

.infoblock {
    margin-bottom: 50px;
}
.infoblock h3 {
    border-bottom: 1px solid rgb(96,102,106);
    border-image: linear-gradient(to right, rgb(96,102,106) 40%, rgba(96,102,106,0) 60%);
    border-image-slice: 1;
}

ul.basic-info {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.basic-info li {
}

.basic-info-label {
    display: inline-block;
    min-width: 150px;
}

#edit-bio-container {
    z-index: 0;
    display: none;
    float: right;
    width: 100%;
}

@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .profile-avatarimg {
        max-width: 100px;
        max-height: 100px;
    }
    .profile-sidepanel {
        max-width: 100px;
        overflow: inherit;
    }
    #expand-action-checkbox-label {
        cursor: pointer;
    }
    #expand-action-checkbox-label h4::before {
        content: "More ";
    }
    .expand-action-tray {
        display: none;
    }
    #expand-action-checkbox:checked ~ #expand-action-checkbox-label h4::before {
        content: "Less ";
    }
    #expand-action-checkbox:checked ~ .expand-action-tray {
        display: inherit;
    }
    .profile-content {
        overflow: inherit;  /* Don't narrow overflow based on sidepanel */
    }
}