/* Global site skin colors */

/*
Header-green:       31,191,31
Background-green:   31,95,31
Bold-green:         31,95,31
Medium-green:       95,191,95
Light-green:        191,223,191
Gray-green:         159,211,127

Tray-green:         63,91,55
Tray-highlight:     63,127,63
*/
/* Global site style CSS */

body {
    background-color: rgb(31,95,31);
}
a {
    color: rgb(0,0,127);
}
/* === Site Navbar === */
#site-top-full-bar {
    background-color: rgb(31,191,31);
}
/* Behavior of nav menu */
.nav-menu li a, .nav-menu li input {
    color: white;
}
.nav-menu li a:hover, .nav-menu li input:hover {
    text-shadow: 0 0 3px rgb(255,255,255);
}
/* Behavior of nav menu open trays */
.nav-menu-tray.tray-open li a, .nav-menu-tray.tray-open li input, #account-menu-button.tray-open {
    background-color: rgb(63,91,55);
}
 .nav-menu-tray.tray-open li.selected-nav a, .nav-menu-tray.tray-open li a:hover, .nav-menu-tray.tray-open li input:hover {
    background-color: rgb(63,127,63);
}
.nav-menu-tray-button {
    background-color: rgb(63,91,55);
}
#main-nav-menu>li.selected-nav,
#main-nav-menu>li:hover,
#account-links>li:hover:not(#account-menu-button):not(.mobile-navbar-right-links),
#account-links>li:not(#account-menu-button) a:hover {  /* Set selected nav/hover color. */
    background-color: rgb(31,95,31);
}

/* === Site Body === */
#main-body {  /* Main white space content area. */
    background-color: white;
}
/* Within section navigation (usually located in main-content-header) */
.section-nav {
    color: rgb(0,0,0);
}
.section-nav a {
    color: rgb(0,0,0);
}

/* === Misc CSS === */
.form-box {
    background-color: rgb(159,211,127);
}
.unread-messages {
    color: rgb(255,95,0);
}
.base-error-msg {
    background-color: rgb(191,223,191);
}

/* Mobile */
@media only handheld, screen and (max-device-width: 820px), screen and (max-width: 820px) {
    /* === Site Navbar === */
    .nav-menu-tray li a, .nav-menu-tray li input {
        background-color: rgb(63, 91, 55);
    }
}
@media only handheld, screen and (max-device-height: 400px), screen and (max-height: 400px) {
    /* === Site Navbar === */
    .nav-menu-tray {
        background-color: rgb(63, 91, 55);
    }
}

/* Misc Colors */
/* Index */
.block .header {
    background-color: rgb(159,211,127);
}
.block .content {
    background-color: rgb(191,223,191);
}
.block .footer {
    background-color: rgb(159,211,127);
}
/* Lists */
.list-table thead td {
    background-color: rgb(130,185,100);
}
.list-table tbody tr:nth-child(odd) td {
    background-color: rgb(180,235,150);
}
.list-table tbody tr:nth-child(even) td {
    background-color: rgb(160,215,130);
}
/* Comments */
.comment {
    border-color: black;
    background-color: white;
}
.commentheader {
    background-color: rgb(191,223,191);
}
blockquote {
    background-color: rgb(191,223,191);
    border-color: rgb(127,127,127);
}
blockquote blockquote {
    background-color: rgb(167,195,223); /* Darker */
}
blockquote blockquote blockquote {
    background-color: rgb(127,191,223); /* Even darker */
}
.spoiler {
    color: black;
    background-color: black;
}
.spoiler:hover {
    border-color: black;
}
/* Forums */
.board-group {
    background-color: rgb(95,191,95);
}
.board-row td {
    background-color: rgb(191,223,191);
}
.forums-help-block {
    background-color: rgb(95,191,95);
}
.new-post-label {
    background-color: rgb(255,191,0);
}

/* Gallery */
.floatactionpanel {
    border-color: rgb(0,0,0);
    background-color: rgb(95,191,95);
}
.post-tile {
    color: rgb(0,0,127);
}
.post-label {
    background-color: rgb(159,211,127);
}
.mass-edit-selected .post-label {
    background-color: rgb(255,191,0);
}
.posteditbox {
    background-color: rgb(159,211,127);
}
.comment-section {
    background-color: white;
}

/* Fics */
.notesbox {
    background-color: rgb(191,223,191);
    border-color: black;
}
.comments ul.tabs li{
    background-color: rgb(191,223,191);
    border-color: black;
}
.comments ul.tabs li.current{
    background-color: rgb(95,191,95);
    border-color: black;
    border-bottom-color: rgba(0,0,0,0);
}
.comments .tab-content{
    background-color: rgb(95,191,95);
    border-color: black;
}
.storyblock {
    background-color: rgb(95,191,95);
}
.storyblockcontainer {
    background-color: white;
}
.storyblockheader {
    background-color: rgb(191,223,191);
}
.storyblockinfo {
    background-color: white;
}
.storyblockfooter {
    background-color: rgb(191,223,191);
}
.chapter-row:hover {
    background-color: rgb(191,223,191);
}

/* Oekaki */
.oekaki-post-header {
    background-color: rgb(191,223,191);
}

/* User profile */
.sidepanel-section {
    background-color: rgb(95,191,95);
}
.infoblock {
    background-color: rgb(191,223,191);
}


/* Shared site-wide settings */
/* For autocomplete
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-tag-list {
    border-color: rgb(127,127,127);
}
.autocomplete-tag-list > li {
    border-color: rgb(127,127,127);
}
*/
/* Search box */
div.search {
    background-color: rgba(255,255,255,0);
	border-color: rgba(0,0,0,0.8);
}
input[type='text'].search {
    background-color: rgb(255,255,255);
	border: 1px solid rgba(0,0,0,0.8);
}
input[type='submit'].search-button {
    background-color: rgb(95,191,95);
	border: 1px solid rgba(0,0,0,0.8);
}
/* Banners */
.banner-notification {
    color: black;
    box-shadow: 2px 2px 5px #07162D;
}
.banner-notification a {
    color: rgb(0,0,127);
}
.banner-notification input {
    background-color: rgba(0,0,0,0);
}
.green-banner {
    background-color: rgb(85,153,85);
}
.red-banner {
    background-color: rgb(153,85,85);
}
.blue-banner {
    background-color: rgb(85,85,153);
}
/* Iterator styles */
.iterator a {
    border-color: rgb(31,95,31);
    background-color: rgb(191,223,191);
    color: rgb(0,0,127);
    border: 1px solid rgb(31,95,31);
}
.iterator a:hover {
    background-color: rgb(95,191,95);
}
.iterator .currentpage {
    color: rgb(0,0,127);
}

/* Section-specific settings */
/* Gallery */
.childoutline {
    border-color: rgb(255,255,0);
}
.parentoutline {
    border-color: rgb(0,255,0);
}
.pendingoutline {
    border-color: rgb(0,0,255);
}
.flaggedoutline {
    border-color: rgb(255,0,0);
}
.pscore {
    color: rgb(22,118,33);
}
.nscore {
    color: rgb(225,95,95);
}
.parentbox, .poolbox {
    color: black;
    background-color: rgb(85,153,85); /* Pool box green */
}
.parentbox a, .poolbox a {
    color: rgb(0,0,127);
}
.post-description {
    background-color: rgb(191,223,191);
}
.tag a:hover {
    color: rgb(31,95,31)
}
.tag small {
    color: rgba(0,0,0,0.5);
}
.none-tag {
    color: rgb(221,63,31);
}

/* Any other temporary styles */
#new-section-badge {
    background-color: rgb(223,159,0);
    color: white;
}